@model Application.DTOs.ProductDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Register new Product</h2>

<form asp-action="Create">

    <div class="form-horizontal">

        <hr />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="stock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="category_id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="category_id" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="category_id" class="text-danger"></span>
            </div>
        </div>

        <br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>
